*{
    margin: 0px;
    padding: 0px;
}
.App{
    background-color: rgba(224, 50, 50, 0.226);
}
.mm{
    border-radius: 50% !important;
}
.ll{
    display:flex;
    /* justify-content:space-around; */
    align-items:center;
    gap: 15px;
}
